# Python bytecode and cache files
*.pyc
*.pyo
__pycache__/

# Virtual environment
.venv/

# Testing
.pytest_cache/
pytest-report.xml

# Django database files
*.sqlite3

# Logs
*.log

# IDE and editor specific files
.vscode/
.idea/